{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>subscribe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylelab8.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylelab10.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="text-white" href="{% url 'landingpage' %}">Home</a>
      <a class="text-white" href="{% url 'about-me' %}">Profile</a>
      <a class="text-white" href="{% url 'books' %}">Books</a>
      <a class="text-white" href="{% url 'cerita' %}">Cerita</a>
    </div>
    <span style="font-size:30px;cursor:pointer; color: white; padding-left: 20px;" onclick="openNav()">&#9776;</span>
</head>

    <body>
        <div id="preloader">
            <div class="spinner"></div>
        </div>


<div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-7">
                        <div class="roundedrec">
            <div class="insiderec">
                <p class="judul">Subscribe Me!😄</p>
                    <form class="form_input" method="POST">
                        <div class="form-group">
                            {%csrf_token%}
                            {{forms}}
                        </div>
                        <input class="submit" id="submit_subscribe" disabled= "disabled" type="submit" value="Subscribe"></input>
                    </form>
            </div>
        </div>
            </div>
            <div class="col-sm-7">
                <div class="roundedrec">
                    <div class="insiderec" style="overflow-x: auto">
                        <p class="judul">Subscribers List</p>
                        <table class="status_update" id="subscriber" style="width:100%" >
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
        <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <script src="{%static 'js/active.js'%}"></script>
    <script src="{%static 'js/subscribe.js'%}"></script>

    </body>
</html>