{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta name="google-signin-client_id" content="240873852856-d3cja2anj9i10rtifua06c84ldk3nhg8.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{% static 'lab_9/js/Books.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>books</title>
  <link rel="icon" href="{% static 'img/icon.png' %}" type="image/gif" sizes="16x16">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css'>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="text-white" href="{% url 'landingpage' %}">Home</a>
  <a class="text-white" href="{% url 'about-me' %}">Profile</a>
  <a class="text-white" href="{% url 'books' %}">Books</a>
  <a class="text-white" href="{% url 'cerita' %}">Cerita</a>
</div>

<span style="font-size:30px;cursor:pointer; color: white; padding-left: 20px;" onclick="openNav()">&#9776;</span>

</head>
<body>

  <!-- Preloader -->
  <div id="preloader">
      <div class="spinner"></div>
  </div>

  <br><br><br>

  <p class="text-white" id="status" style="font-size: 50px; text-align: center"><strong>Books</strong></p>
          {%if user.is_authenticated%}
          <header>
              <p class="text-white" id="status" style="font-size: 30px; text-align: center"><strong>Hello, {{ user.first_name }} {{ user.last_name }}</strong></p>
              <a class="text-white text-align-center" id="status" style="margin:auto;display:flex; justify-content: center;" href= "{% url 'logout'%}">Log Out</a>
          </header>
          {%else%}<header>

            <a class="col-md-3 btn btn-Google btn-lg" href="{% url 'social:begin' 'google-oauth2' %}" style="margin:auto;display:flex; justify-content: center;"><i class="fa fa-google-plus animated infinite tada"></i> Google+</a>
          </header>
          {%endif%}

    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-9 text-center">
              <input id="button1" type="submit" value="Quilting">
              <input id="button2" type="submit" value="Comic">
              <input id="button3" type="submit" value="Architecture">
              <div class = "text-right">
                <h2 id="statusBuku" class="text-white"><i class='fa fa-heart'style = 'color : #FF6F91'></i></h2>
              </div>
            </div>
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec" style="overflow-x: auto; border-radius: 3px;">
                        <p class="judul">Book List</p>
                        <table class="table table-striped text-align-center" id = "shelf" style = "background-color: white; width: 100%">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

    <!-- Active js -->
    <script src="{%static 'js/active.js'%}"></script>

</body>
</body>
</html>