{% load staticfiles %}
<html>

<head>
    <title>ceritaku</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/gif" sizes="16x16">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylelab8.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>


    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="text-white" href="{% url 'landingpage' %}">Home</a>
      <a class="text-white" href="{% url 'about-me' %}">Profile</a>
      <a class="text-white" href="{% url 'books' %}">Books</a>
      <a class="text-white" href="{% url 'cerita' %}">Cerita</a>
    </div>
    <span style="font-size:30px;cursor:pointer; color: white; padding-left: 20px;" onclick="openNav()">&#9776;</span>


</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6" style="margin-right: 100px;">
                <p class="text-white"><strong>Night Mode</strong></p>
                <label class="switch" for="nightmode">
                    <input type="checkbox" class="nightmode" id="nightmode" name="nightmode">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-sm-7 text-center">
                <div class="roundedrec">
                    <div class="insiderec">
                    <h1 class="name" style="font-size: 50px; text-align: center"><strong>{{judul}}</strong></h1>
                    <br>
                    <img class="img-2" src={{foto}} width="300px" height="300px" style="border-radius: 20px; box-shadow: 4px 13px 30px 1px rgba(161, 84, 242, 0.2);">

                        <p class="description" style="padding-top: 50px;">
								{{isi}}
						</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### All Javascript Script ##### -->
    <script src="{%static 'js/story_8.js'%}"></script>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <!-- Active js -->
    <script src="{%static 'js/active.js'%}"></script>



</body>



</html>