{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>ini ceritaku</title>
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylecerita.css' %}">
  <link rel="icon" href="{% static 'img/icon.png' %}" type="image/gif" sizes="16x16">
</head>

<body>
      <!-- Preloader -->
  <div id="preloader">
      <div class="spinner"></div>
  </div>
  <div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    {% for ceritaku in stories %}
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src={{ceritaku.gambar}} alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">{{ceritaku.created_at}}</span>
        <div class="blog-slider__title">{{ceritaku.judul}}</div>
        <div class="blog-slider__text">{{ceritaku.snippet}}  </div>
        <a href="/{{ceritaku.judul}}" class="blog-slider__button">Read More</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="blog-slider__pagination"></div>
  <a href="{% url 'landingpage' %}" class="blog-slider__button2"> Back Home </a>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
  <script src="{%static 'js/cerita.js'%}"></script>
  <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
  </script>
  <script src="{%static 'js/active.js'%}"></script>
</body>

</html>
