{% load staticfiles %}
<html>

<head>
    <title>about me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/gif" sizes="16x16">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylelab8.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="text-white" href="{% url 'landingpage' %}">Home</a>
        <a class="text-white" href="{% url 'about-me' %}">Profile</a>
        <a class="text-white" href="{% url 'books' %}">Books</a>
        <a class="text-white" href="{% url 'cerita' %}">Cerita</a>
    </div>

    <span style="font-size:30px;cursor:pointer; color: white; padding-left: 20px;" onclick="openNav()">&#9776;</span>


</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="spinner"></div>
</div>

<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6">
            <p class="text-white text-center" style="font-size: 50px; text-align: center"><strong>My Profile</strong>
            </p>
            <div style="margin-bottom: 10px;">
                <button class="accordion">Experiences</button>
                <div class="panel">
                    <ul style="padding-top: 10px;">
                        <li>BEM Fasilkom UI 2018 - Head of Media Bureau</li>
                        <li>IMUN 2018 - Visual Design Staff</li>
                        <li>BWB UI 2018 - Vice PIC of Visual Design</li>
                        <li>Wisuda Genap Fasilkom UI - Creative Staff</li>
                        <li>PMB Fasilkom UI 2018 - HPK Staff</li>
                        <li>Open House Fasilkom UI 2018 - Creative Staff</li>
                        <li>BEM UI 2019 - Empowerment of Student Innovations Department Staff</li>
                    </ul>
                </div>
            </div>
            <div style="margin-bottom: 10px;">
                <button class="accordion">Achievements</button>
                <div class="panel">
                    <ul style="padding-top: 10px;">
                        <li>2nd Place Nationally at eFuture ITB 2016: Young Engineers Idea Challenge</li>
                        <li>2nd Place Nationally at Sociopreneur 2.0</li>
                    </ul>
                </div>
            </div>
            <div style="padding-top: 35px;" class="text-center">
                <p class="text-center text-white"><strong>Night Mode</strong></p>
                <label class="switch" for="nightmode">
                    <input type="checkbox" class="nightmode" id="nightmode" name="nightmode">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="roundedrec">
                <div class="insiderec">
                    <img class="img-2" src="https://i.imgur.com/b4BLvzW.png" data-toggle="tooltip"
                         title="Ini Foto saya, hehe,,,,,," width="300px" height="300px">
                    <h1 class="name" style="font-size: 50px; text-align: center"><strong>Shafira Dyah Pradita</strong>
                    </h1>
                    <p class="description">
                        Is currently an undergraduate student at Faculty of Computer Science, University of Indonesia. A
                        passionate learner, UI/UX Designer in the making.
                    </p>
                    <a href="mailto:shafira.dyah@ui.ac.id">Mail Me</a> <br>
                    <a href="{% url 'subscribe' %}">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### All Javascript Script ##### -->
<script src="{% static 'js/story_8.js' %}"></script>
<!--     <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
    </script> -->

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>


</body>


</html>