{% load staticfiles %}
<html>
    
<head>
    <title>status update</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylelab8.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylelab8.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="text-white" href="{% url 'landingpage' %}">Home</a>
  <a class="text-white" href="{% url 'about-me' %}">Profile</a>
  <a class="text-white" href="{% url 'books' %}">Books</a>
  <a class="text-white" href="{% url 'cerita' %}">Cerita</a>
</div>
<span style="font-size:30px;cursor:pointer; color: white; padding-left: 20px;" onclick="openNav()">&#9776;</span>

</head>

<body>
        <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6 text-center">
                <p class="text-white" id="status" style="font-size: 50px; text-align: center"><strong>Hey, What's Up?</strong></p>
                <form action=" addStatus " method="POST" class="w3-left-align isi">
                    {% csrf_token %}                    
                    {{ formStatus }}
                    <input id="submit" type="submit" value="Post It!">
                </form>
            </div>
            <div class="col-sm-7">
                <div class="roundedrec">
                    <div class="insiderec">
                        <p class="judul">Status Update</p>
                        <table class="status_update" style="width:100%" >
                            {% if kabar %}
                                {% for item in kabar %}
                                    <tr>
                                        <td style=" word-break:break-all"> <strong> {{ item.statusku }} </strong></td>
                                    </tr>
                                    <tr>
                                    	<td style="padding-bottom: 1rem">{{ item.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <h5>There's No Status Yet.</h5> 
                            {% endif %}
                        </table>
                        <a  href="{% url 'delete_new'%}" >Delete All Status?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

    <!-- Active js -->
    <script src="{%static 'js/active.js'%}"></script>
</body>

</html>